<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="tela" size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
      <canvas id="myChart" width="1200" height="800"></canvas>
  </div>

  <ion-fab horizontal="end" vertical="start" slot="fixed">
    <ion-fab-button (click)="topVendedores();buscarEmpresa()" color="danger">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <div>
      <ion-card>
       
        <ion-card-content>
          <ion-list>
            <ion-list-header>
              <p>Ranking</p>
            </ion-list-header>
            <ion-item *ngFor="let item of vendedores| slice:0:5">
              <ion-label>{{item.nomVend}}</ion-label>
              <p slot="end" id="percentual" color="primary">{{item.percVend}} %</p>
            </ion-item>
    
          </ion-list>   </ion-card-content>
      </ion-card>

  </div>